

    th,td
    {
        margin: 0;
        text-align: center;
        border-collapse: collapse;
        outline: 1px solid black;


    }

     .td1
    {
        padding: 2px 2px;
        font-size: 10px;
        width: 50px;
    }

 .th1
    {
        background: #666;
        font-size: 12px;
        color: white;
        padding: 4px 10px;
        outline: 1px solid black;
    }
    .HighLight
    {
    	background-color: lightgreen; 
    }

    .tbl
    {
        outline: 1px solid black;
        
    }

